*{
    margin: 0;
    padding: 0;    
  }
  body{
      background-color: black !important;
      color:white !important;
      font-family: 'Poppins', sans-serif;
  }
  nav{
    background-color: #d085d9ae;
   }
   /* nav ul li a {
    text-decoration: none;
    color:white;
    padding:10px 20px;
    font-size:18px;
  }
  nav ul li a:hover{
    color: white;
  }  */

  /* navbar style

  nav .left{
    font-size: 1.5rem;
  }
  nav ul {
    display: flex;
    margin:20px;
  }
  nav ul li{
    list-style: none;
 
  }
  nav ul li a{
    text-decoration: none;
    color:white;
    padding:10px 20px;
  }
  nav ul li a:hover{
    color: white;
    border:1px solid #090909;
    background-color: #090909;
    border-radius: 23px;
  } */
  .container .section-one{
    margin:50px 0;
    align-items: center;
  }
  .container .section-one .left-section{
    margin:60px 0;
    font-size: 2rem;
  }
  .container .section-one .left-section .buttons{
    padding:40px 0;
  }
  .container .section-one .left-section .buttons button{
    font-size: 1rem;
    background-color: #d085d9ae;
    padding:13px;
    color:white;
    border:2px solid #d085d9ae;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  .container .section-one .left-section .buttons button a{
   color: white;
    text-decoration: none;
  }
   .container .section-one .left-section .custom-text{
      color:peru;

  }
  .container .section-one .right-section img{
    width: 80%;
    height: 80vh;
    border-radius: 40%;
 }
  #element{
    color:peru;
  }
 
  /*footerstyle*/
  footer{
    background-color: #d085d9ae;
    padding:30px 43px;
    color: black;
  }
 

  /* start about */
  #about{
    margin:40px 0;
  }
#about h4
{
padding: 15px 0;
color: peru;
}
#about .progress
{
    border-radius: 4px;
    background: #ffffff;
    height: 4px;
}
#about .progress .progress-bar-danger
{
    background: peru;
}
#about .text-top
{
    padding-top: 50px;
}
#about span
{
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
}
#about small
{
    font-weight: bold;
    float: right;
}
/* end about */
/* start work */
#work
    {
        background: #1a1a1a;
        padding:40px 0;
    }
#work h2
    {
        text-align: center;
    }

#work .media
    {
      margin-top: 30px;
      display: flex;
    }
	
#work .media span
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #D43F52;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media span:hover
    {
        background: #ffffff;
        cursor: pointer;
    }
#work .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end work */
  /*responsive design*/
  @media screen and (max-width: 1224px) {
    .container .section-two{
      height:280vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .container .section-two .box{
        flex-direction: column;
        width:50vw;
    }
    nav{
      flex-direction: column;
      align-items: center;
      height:auto;
    }
  }
  /* start footer */
footer
{
    border-top: 1px solid #090909;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer hr
{
    width: 200px;
    margin:20px auto;
}
/* end footer */
  /* start social icon */
.social-icon
{
    position: relative;
    padding: 0;
    margin: 0;
}
.social-icon li
{
    display: inline-block;
    list-style: none;
}
.social-icon li a
{
    border-radius: 50%;
    color: #606060;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 10px;
}
.social-icon li span{
  border: 1px solid black;
    border-radius: 24px;
    padding: 10px;
    color: black;
}
.social-icon li a span:hover
{
    background-color: white;
    border: 1px solid white;
}
@media screen and (max-width: 767px) {
  .container .section-one{
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  .container .row .right-section{
    width:720px;
    margin:20px 0;
  }
  .container .row .right-section img{
     width:100%;
     height:80vh;
  }

  .container .section-one .left-section{
    text-align: center;
    width: 100%;
    margin:30px 0;
  }
}
/* end social icon */
  /* @media screen and (max-width: 547px) {
   
    nav ul{
      flex-wrap: wrap;
    }
   
  }
  @media screen and (max-width: 430px) {
    nav ul li a{
      padding:10px;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 300px) {
    nav ul li {
      flex-wrap: none;
    }
  } */
 